<div class="container box">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projects</h1>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12">
            <p>
                These projects are only a sample of the work that I have done recently. They are displayed here to give
                you an
                idea of the kinds of projects that I am capable of doing and to show you the possibilities for your own
                home.
            </p>
        </div>
    </div>

    <div class="projs" *ngFor="let project of projects">
        <hr class="mx-auto">
        <project-overview [project]="project"></project-overview>
    </div>
</div>